body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
html {
  height: 100%;
}

.quizQuestionContainer {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}
.headerQuizQuestion {
  display: flex;
  min-width: 80%;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  /* background-color: #f6f6f6; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.question {
  min-width: 70vw;
  min-height: 5rem;
  margin-top: 1rem;
  border-radius: 50px;
  border-radius: 10px;
  box-shadow: 5px 8px 10px rgba(175, 172, 172, 0.4);
}

.questionOptions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  background-color: #e7e7e7;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.questionOptions h3 {
}
.questionQuestion {
  padding: 1rem;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.questionAns {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.questionAns .options {
  background-color: inherit;
  min-width: 50%;
  padding: 1rem;
}
.questionFotter {
  background-color: #e7e7e7;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 1rem;
}
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #fbfbfb;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #898b8b transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #787a7a;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fbfbfb;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
